.pageContent {
  background-color: black;
}

.pageItem {
  background-color: gray;
  text-align: center;
  width: 80%;
  height: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.refresher {
  background-color: white;
}
